In [1]:
import pandas as pd

In [21]:
DIR = "C:\\Users\\tora2\\IdeaProjects\\LifeBehavior\\logs\\"

In [4]:
df = pd.read_csv(DIR + "person_trips.csv")

In [5]:
df

,person_id,start_day,start_hour,start_minute,end_day,end_hour,end_minute,origin,destination,route_id,modes,waking_time,waking_distance
0,113653540,0,0.0,5.0,0.0,0.0,15.0,Home4106,Poi60,0.0,CAR,0.0,0.0
1,113636781,0,0.0,5.0,0.0,0.0,18.0,Home143,Poi2046,1.0,CAR,0.0,0.0
2,113636764,0,0.0,5.0,0.0,0.0,10.0,Home130,Poi2743,2.0,CAR,0.0,0.0
3,113617993,0,0.0,5.0,0.0,0.0,10.0,Home7782,Poi1392,3.0,CAR,0.0,0.0
4,113635959,0,0.0,5.0,0.0,0.0,8.0,Home923,Poi2408,4.0,CAR,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
670977,113656192,0,17.0,50.0,0.0,17.0,58.0,Poi2525,Home5427,670421.0,CAR,0.0,0.0
670978,113651093,0,17.0,50.0,0.0,17.0,54.0,Poi2388,Poi1721,670422.0,CAR,0.0,0.0
670979,113643149,0,17.0,50.0,0.0,18.0,0.0,Poi89,Home2862,670423.0,CAR,0.0,0.0
670980,113646467,0,17.0,50.0,0.0,18.0,43.0,Poi553,Poi676,670424.0,CAR,0.0,0.0
670981,113656217,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df["person_id"].value_counts().mean()

15.93138162737137

In [29]:
behavior = pd.read_csv(DIR + "behavior_log.csv")

In [25]:
behavior_100 = behavior.iloc[:,0:100]

In [30]:
spot = pd.read_csv(DIR + "spot_log.csv")

In [15]:
spot_100 = spot.iloc[:,0:100]

In [31]:
# 'CurrentTime' で両方のDataFrameを結合
merged_df = behavior.copy()
for col in behavior.columns[2:]:  # 'CurrentTime' と 'CurrentDay' を除外
    merged_df[col] = behavior[col] + ":" + spot[col]

In [32]:
merged_df.to_csv("C:/Users/tora2/downloads/soars_merged_log.csv",index=False)