In [2]:
import pandas as pd

In [12]:
df = pd.read_csv("C:\\Users\\tora2\\IdeaProjects\\LifeBehavior\\input\\2015_003_8_47207_ok.csv")

In [14]:
df

,prefecture_code,prefecture_name,city_code,city_name,town_code,town_name,latitude,longitude,household_id,family_type_id,...,gender_id,gender,role_household_type_id,role_household_type,industry_type_id,industry_type,employment_type_id,employment_type,company_size_id,company_size
47,沖縄県,47207,石垣市,47207003000,字石垣,24.363116,124.151367,49566056,0,単独世帯,...,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207004000,字新川,24.353763,124.142360,49566057,0,単独世帯,...,女性,1,単独世帯（女性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207006000,新栄町,24.343187,124.150816,49566058,0,単独世帯,...,女性,1,単独世帯（女性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207003000,字石垣,24.362456,124.146893,49566059,0,単独世帯,...,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207006000,新栄町,24.344603,124.151606,49566060,0,単独世帯,...,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,夫婦、子供とひとり親（夫の親）,...,男性,20,子供（男性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,夫婦、子供とひとり親（夫の親）,...,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,夫婦、子供とひとり親（夫の親）,...,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,夫婦、子供とひとり親（夫の親）,...,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,夫婦、子供とひとり親（夫の親）,...,女性,31,親（女性）,NaN,NaN,NaN,NaN,NaN,NaN,NaN