In [15]:
import pandas as pd
import geopandas as gpd
import folium
import csv

In [41]:
df = pd.read_csv("Z:\\lab\\input\\2015_003_8_47207_ok.csv", index_col=False, dtype=str)

In [48]:
noOfSample = 10000
outPath = f"Z:\\lab\\input\\2015_003_8_47207_ok_{str(noOfSample)}.csv"
df.sample(frac=1).head(noOfSample).to_csv(outPath, index=False, quotechar='"', quoting=csv.QUOTE_ALL)

In [37]:
df

,prefecture_code,prefecture_name,city_code,city_name,town_code,town_name,latitude,longitude,household_id,family_type_id,...,gender_id,gender,role_household_type_id,role_household_type,industry_type_id,industry_type,employment_type_id,employment_type,company_size_id,company_size
0,47,沖縄県,47207,石垣市,47207003000,字石垣,24.363116,124.151367,49566056,0,...,0,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN
1,47,沖縄県,47207,石垣市,47207004000,字新川,24.353763,124.142360,49566057,0,...,1,女性,1,単独世帯（女性）,NaN,NaN,NaN,NaN,NaN,NaN
2,47,沖縄県,47207,石垣市,47207006000,新栄町,24.343187,124.150816,49566058,0,...,1,女性,1,単独世帯（女性）,NaN,NaN,NaN,NaN,NaN,NaN
3,47,沖縄県,47207,石垣市,47207003000,字石垣,24.362456,124.146893,49566059,0,...,0,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN
4,47,沖縄県,47207,石垣市,47207006000,新栄町,24.344603,124.151606,49566060,0,...,0,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42844,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,0,男性,20,子供（男性）,NaN,NaN,NaN,NaN,NaN,NaN
42845,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN
42846,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN
42847,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN
42848,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,31,親（女性）,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df

,prefecture_code,prefecture_name,city_code,city_name,town_code,town_name,latitude,longitude,household_id,family_type_id,...,gender_id,gender,role_household_type_id,role_household_type,industry_type_id,industry_type,employment_type_id,employment_type,company_size_id,company_size
0,47,沖縄県,47207,石垣市,47207003000,字石垣,24.363116,124.151367,49566056,0,...,0,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN
1,47,沖縄県,47207,石垣市,47207004000,字新川,24.353763,124.142360,49566057,0,...,1,女性,1,単独世帯（女性）,NaN,NaN,NaN,NaN,NaN,NaN
2,47,沖縄県,47207,石垣市,47207006000,新栄町,24.343187,124.150816,49566058,0,...,1,女性,1,単独世帯（女性）,NaN,NaN,NaN,NaN,NaN,NaN
3,47,沖縄県,47207,石垣市,47207003000,字石垣,24.362456,124.146893,49566059,0,...,0,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN
4,47,沖縄県,47207,石垣市,47207006000,新栄町,24.344603,124.151606,49566060,0,...,0,男性,0,単独世帯（男性）,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42844,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,0,男性,20,子供（男性）,NaN,NaN,NaN,NaN,NaN,NaN
42845,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN
42846,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN
42847,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,21,子供（女性）,NaN,NaN,NaN,NaN,NaN,NaN
42848,47,沖縄県,47207,石垣市,47207002000,字大川,24.340819,124.158194,49585251,80,...,1,女性,31,親（女性）,NaN,NaN,NaN,NaN,NaN,NaN