In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
DIR_LOGS = "Z:\\lab\\output\\logs\\"

In [3]:
spot = pd.read_csv(DIR_LOGS + "spot_log.csv")
location = pd.read_csv(DIR_LOGS + "location_log.csv")

In [8]:
spot.filter(items=["CurrentTime","CurrentDay","Person84"])

     CurrentTime CurrentDay  Person84
0     0/00:00:00     MONDAY  Home1642
1     0/00:01:00     MONDAY  Home1642
2     0/00:02:00     MONDAY  Home1642
3     0/00:03:00     MONDAY  Home1642
4     0/00:04:00     MONDAY  Home1642
...          ...        ...       ...
1435  0/23:55:00     MONDAY  Home1642
1436  0/23:56:00     MONDAY  Home1642
1437  0/23:57:00     MONDAY  Home1642
1438  0/23:58:00     MONDAY  Home1642
1439  0/23:59:00     MONDAY  Home1642

[1440 rows x 3 columns]

In [10]:
location.query("Latitude != Latitude" and "PersonId == 'Person84'")

,PersonId,Gender,Age,Day,CurrentTime,NttTime,Latitude,Longitude
83,Person84,FEMALE,29,MONDAY,0/00:00:00,0,24.342587,124.173665
10083,Person84,FEMALE,29,MONDAY,0/01:00:00,100,NaN,NaN
20083,Person84,FEMALE,29,MONDAY,0/02:00:00,200,24.342587,124.173665
30083,Person84,FEMALE,29,MONDAY,0/03:00:00,300,24.342587,124.173665
40083,Person84,FEMALE,29,MONDAY,0/04:00:00,400,24.342587,124.173665
50083,Person84,FEMALE,29,MONDAY,0/05:00:00,500,24.342587,124.173665
60083,Person84,FEMALE,29,MONDAY,0/06:00:00,600,24.342587,124.173665
70083,Person84,FEMALE,29,MONDAY,0/07:00:00,700,24.342587,124.173665
80083,Person84,FEMALE,29,MONDAY,0/08:00:00,800,NaN,NaN
90083,Person84,FEMALE,29,MONDAY,0/09:00:00,900,NaN,NaN
100083,Person84,FEMALE,29,MONDAY,0/10:00:00,1000,NaN,NaN
110083,Person84,FEMALE,29,MONDAY,0/11:00:00,1100,NaN,NaN
120083,Person84,FEMALE,29,MONDAY,0/12:00:00,1200,24.342587,124.173665
130083,Person84,FEMALE,29,MONDAY,0/13:00:00,1300,24.342587,124.173665
140083,Person84,FEMALE,29,MONDAY,0/14:00:00,1400,24.342587,124.173665
150083,Person84,FEMALE,29,MONDAY,0/15:00:00,1500,24.342587,124.173665
160083,Person84,FEMALE,29,MONDAY,0/16:00:00,1600,24.342587,124.173665
170083,Person84,FEMALE,29,MONDAY,0/17:00:00,1700,24.342587,124.173665
180083,Person84,FEMALE,29,MONDAY,0/18:00:00,1800,NaN,NaN
190083,Person84,FEMALE,29,MONDAY,0/19:00:00,1900,NaN,NaN
200083,Person84,FEMALE,29,MONDAY,0/20:00:00,2000,NaN,NaN
210083,Person84,FEMALE,29,MONDAY,0/21:00:00,2100,NaN,NaN
220083,Person84,FEMALE,29,MONDAY,0/22:00:00,2200,24.342587,124.173665
230083,Person84,FEMALE,29,MONDAY,0/23:00:00,2300,24.342587,124.173665

In [9]:
location.shape

(240000, 8)