In [1]:
import pandas as pd

In [2]:
DIR = "C:\\Users\\tora2\\IdeaProjects\\LifeBehavior\\data\\2020_jikoku_danjonenso.csv"

In [4]:
df = pd.read_csv(DIR)

In [5]:
df

         曜日       層        行動 時刻(時間:分)  行為者率(%)
0        平日    男１０代        睡眠     0:00     86.6
1        平日    男１０代        睡眠     0:15     87.2
2        平日    男１０代        睡眠     0:30     88.8
3        平日    男１０代        睡眠     0:45     88.8
4        平日    男１０代        睡眠     1:00     92.0
...     ...     ...       ...      ...      ...
173371  日曜日  女７０歳以上  テレビ（専　念）    22:45     18.9
173372  日曜日  女７０歳以上  テレビ（専　念）    23:00      9.6
173373  日曜日  女７０歳以上  テレビ（専　念）    23:15      8.8
173374  日曜日  女７０歳以上  テレビ（専　念）    23:30      4.4
173375  日曜日  女７０歳以上  テレビ（専　念）    23:45      4.0

[173376 rows x 5 columns]

In [7]:
df.query("行動 == '在宅'")

         曜日       層  行動 時刻(時間:分)  行為者率(%)
49728    平日    男１０代  在宅     0:00     95.2
49729    平日    男１０代  在宅     0:15     95.2
49730    平日    男１０代  在宅     0:30     95.2
49731    平日    男１０代  在宅     0:45     95.2
49732    平日    男１０代  在宅     1:00     95.7
...     ...     ...  ..      ...      ...
166651  日曜日  女７０歳以上  在宅    22:45     84.7
166652  日曜日  女７０歳以上  在宅    23:00     85.1
166653  日曜日  女７０歳以上  在宅    23:15     85.1
166654  日曜日  女７０歳以上  在宅    23:30     85.5
166655  日曜日  女７０歳以上  在宅    23:45     85.5

[4032 rows x 5 columns]